@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container pt-3">
    <div>
        <h1 class="display-5 text-center">Link zum Zurücksetzen versandt!</h1>
        <p class="fs-5 mt-5">Bitte prüfen Sie Ihr E-Mailkonto. Eine Mail zum Zurücksetzen Ihres Passwortes wurde versandt!<br /> 
    </div>
</div>