@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="container pt-3">
    <div>
        <h1 class="display-5 text-center">Passwort vergessen?</h1>
        <p class="fs-5 mt-5">Geben Sie Ihre E-Mailadresse an um einen Link zum Zurücksetzen des Passwortes zu bekommen.<br /> 
    </div>
    <div class="row">
        <div class="col-xl-4 offset-xl-4 col-md-12 justify-content-center">
            <hr />
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control mt-3 mb-3" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label">E-Mail:</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-tcm">Reset Password</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
